<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1><%= @task.name %></h1>
    <p>
      This task shoud be done at <%= format_due_at @task.due_at %> (<%= time_ago_or_since_in_words @task.due_at %>)<br/>
      More info <%= link_to "here", task_url(@task) %>
    </p>
  </body>
</html>
