<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Reminder for task <%= @task.name.inspect %></h1>
    <p>
      This task shoud be done in <%= time_ago_in_words @task.due_at %>
    </p>
  </body>
</html>
