<table class="table table-striped">
  <tbody>
    <% @tasks.each do |task| %>
      <tr>
        <td><%= link_to truncate(task.name), task %></td>
        <td style="text-align: right">
          <%= link_to icon_and_text("icon-ok icon-white", "Yata!"), task, :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-success btn-mini' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
