<h1>Tasks</h1>

<% if @tasks.any? %>
  <table class="table table-striped">
    <tbody>
      <%= render @tasks %>
    </tbody>
  </table>
<% else %>
  <div class="well">Yahoo! Nothing to do.</div>
<% end %>

<%= link_to icon_and_text("icon-plus icon-white", "Add another task"), new_task_path, :class => 'btn btn-primary btn-large' %>
