<h1>Tasks</h1>

<% if @tasks.any? %>
  <%= render "tasks" %>
<% else %>
  <div class="well">Yahoo! Nothing to do.</div>
<% end %>
<%= link_to 'New', new_task_path, :class => 'btn btn-primary btn-large' %>
