<div class="page-header">
  <h1>Tasks</h1>
</div>

<% if @tasks.any? %>
  <table class="table table-striped">
    <tbody>
      <%= render @tasks %>
    </tbody>
  </table>
<% else %>
  <div class="well">Yahoo! Nothing to do.</div>
<% end %>

<% if @show == "all" %>
  <%= link_to icon_and_text("icon-remove icon-white", "Clear done tasks"), clear_tasks_path, :class => 'btn btn-danger btn-large', :method => :delete %>
<% else %>
  <%= link_to icon_and_text("icon-plus icon-white", "Add another task"), new_task_path, :class => 'btn btn-primary btn-large' %>
<% end %>
