<h1>
  <%= pluralize @tasks.count, "Task" %>
  <small>Unscheduled</small>
</h1>

<%= render 'tasks' %>

<div class="main-button">
  <%= link_to icon_and_text("plus", "Add another task"), new_task_path, class: 'btn btn-success btn-lg btn-block' %>
</div>
