<div class="form-group nested-fields">
  <%= f.label :name, class: "control-label" if f.index == 0 %>
  <div class="input-group">
    <div class="input-group-addon">
      <%= icon(f.object.done? ? "check" : "remove") %>
    </div>
    <%= f.text_field :name, class: "form-control" %>
    <div class="input-group-btn">
      <%= link_to_remove_association icon("trash"), f, class: "btn btn-default" %>
    </div>
  </div>
</div>
