<%= div_for sub_task, class: "form-group" do %>
  <div class="input-group">
    <div class="input-group-btn">
      <%= link_to [sub_task.task, sub_task], method: :patch, remote: true, data: { disable_with: "..." }, class: "btn btn-#{sub_task.done? ? "success" : "danger"}" do %>
        <span class="glyphicon glyphicon-<%= sub_task.done? ? "ok" : "remove" %>"></span>
      <% end %>
    </div>
    <%= text_field_tag :name, sub_task.name, class: "form-control", disabled: true %>
  </div>
<% end %>
