<%= content_tag_for :tr, sub_task do %>
  <td>
    <%= link_to [sub_task.task, sub_task], method: :patch, remote: true, data: { disable_with: "..." }, class: "btn btn-xs btn-#{sub_task.done? ? "success" : "danger"}" do %>
      <%= icon(sub_task.done? ? "ok" : "remove") %>
    <% end %>
    <%= sub_task.name %>
  </td>
<% end %>
