.navbar-brand {
  padding: 8px 15px;

  .btn {
    padding: 6px 8px;
  }
}

table.wday-5 {
  border-left: 5px dotted $gray-lighter;
}

table.bank-holiday,
table.wday-0,
table.wday-6 {
  border-left: 5px solid $gray-lighter;
}

table.bank-holiday.past,
table.wday-0.past,
table.wday-5.past,
table.wday-6.past {
  border-left-color: $state-danger-border;
}

.task {
  a.mark-as-done, a.unmark-as-done {
    display: none;
  }
}

.task.todo {
  a.mark-as-done {
    display: inline-block;
  }
}

.task.done {
  td.name, td span.due_at {
    text-decoration: line-through;
  }

  a.unmark-as-done {
    display: inline-block;
  }
}

.task {
  a.mark-as-done {
    @extend .btn-success
  }

  a.unmark-as-done {
    @extend .btn-default
  }
}

.task.todo.delayed {
  a.mark-as-done, a.unmark-as-done {
    @extend .btn-danger
  }
}

tr.task.todo.delayed {
  @extend .danger;

  td.name a, td span.due_at {
    @extend .text-danger;
  }
}

.task.todo.delayed dl {
  dt.due_at, dd.due_at {
    @extend .text-danger;
  }
}

.task {
  transition: background-color .5s ease-out
}

.task.highlighted {
  background-color: yellow !important;
}

tr.task td.due_at_and_actions {
  white-space: nowrap;
  text-align: right;

  span.due_at {
    margin-right: 1em;
  }
}

.sub_task.todo {
  a.toggle-done {
    @extend .btn-success;

    i.fa.toggle {
      @extend .fa-check;
    }
  }
}

.sub_task.done {
  .name {
    text-decoration: line-through;
  }

  a.toggle-done {
    @extend .btn-default;

    i.fa.toggle {
      @extend .fa-remove;
    }
  }
}

body {
  margin-bottom: 24px;
}

abbr.timeago {
  cursor: pointer;
  border-bottom: none;
}

.list-group-item > span.label {
  float: right;
}

.navmenu {
  width: 250px;
}

.input-group-addon .fa {
  @extend .fa-fw;
}

textarea#task_description {
  resize: vertical;
}

.markdown {
  word-wrap: break-word;
}
