.navbar-brand {
  padding: 8px 15px;
}

tr.task.done {
  td.name, td span.due_at {
    text-decoration: line-through;
  }
}

tr.task.delayed {
  @extend .danger;

  td.name a, td span.due_at {
    @extend .text-danger;
  }
}

tr.task td.due_at_and_actions {
  white-space: nowrap;
  text-align: right;

  span.due_at {
    margin-right: 1em;
  }
}

body {
  margin-bottom: 24px;
}

abbr.timeago {
  cursor: pointer;
  border-bottom: none;
}

.list-group-item > span.label {
  float: right;
}

.navmenu {
  width: 250px;
}
