#logo-button {
  padding: 5px 6px;
}

#logo-text {
  font-size: 1.5em;
  padding: 0 15px 0 0;
}

tr.task.done {
  td.name, td span.due_at {
    text-decoration: line-through;
  }
}

tr.task.delayed {
  @extend .danger;

  td.name a, td span.due_at {
    @extend .text-danger;
  }
}

tr.task td.due_at_and_actions {
  white-space: nowrap;
  text-align: right;

  span.due_at {
    margin-right: 1em;
  }
}

body {
  margin-bottom: 24px;
}

abbr.timeago {
  cursor: pointer;
  border-bottom: none;
}

.list-group-item > span.label {
  float: right;
}

.navmenu {
  width: 250px;
}

.input-group-addon .fa {
  @extend .fa-fw;
}

textarea#task_description {
  resize: vertical;
}
