tr.task.done {
  td.name, td span.due_at {
    text-decoration: line-through;
  }
}

tr.task td.due_at_and_actions {
  text-align: right;

  span.due_at {
    margin-right: 1em;
  }
}

div.main-button {
  margin-bottom: 24px;
}
