.navbar-brand {
  padding: 8px 15px;
}

tr.task.done {
  td.name, td span.due_at {
    text-decoration: line-through;
  }
}

tr.task.delayed {
  @extend .danger;

  td.name a, td span.due_at {
    color: #9d261d;
    font-weight: bold;
  }
}

tr.task td.due_at_and_actions {
  white-space: nowrap;
  text-align: right;

  span.due_at {
    margin-right: 1em;
  }
}

body {
  margin-bottom: 24px;
}

.help-inline {
  margin-bottom: 9px;
}

p.collapse-bottom {
  margin-bottom: 0;
}

ul.nav-pills.nav-stacked {
  li.delayed a span.error {
    color: #9d261d;
    font-weight: bold;
  }

  li.divider {
    height: 1px;
    margin: 6px 18px;
    border-bottom: 1px solid #eee;
  }
}

span.delayed {
  color: #9d261d;
  font-weight: bold;
}

abbr.timeago {
  cursor: pointer;
  border-bottom: none;
}
