<h1>Categories</h1>

<div class="list-group">
  <% @categories.each do |category| %>
    <%= link_to category.name, edit_category_path(category), class: "list-group-item" %>
  <% end %>
</div>

<%= link_to icon_and_text("plus", "New Category"), new_category_path, class: "btn btn-success" %>
