<% { alert: :danger, notice: :success }.each do |k, v| %>
  <% if flash.key? k %>
    <div class="alert alert-<%= v %>">
      <button type="button" class="close" data-dismiss="alert"><span>&times;</span></button>
      <%= flash[k] %>
    </div>
  <% end %>
<% end %>
