<% if user_signed_in? %>
  <h2>Filter</h2>

  <ul class="nav nav-pills nav-stacked">
    <% Task::SCOPES.each do |show, text| %>
      <% if %w[todo done].include? show %>
        <li class="divider"></li>
      <% end %>
      <li class="<%= show %> <%= "active" if @show == show %>">
        <%= render "layouts/link_pill", :show => show, :text => text %>
      </li>
    <% end %>
  </ul>
<% end %>
